- onboarding_project = session[:onboarding_project]

- return unless onboarding_project

#js-onboarding-helper{ data: { project_full_path: onboarding_project[:project_full_path], project_name: onboarding_project[:project_name] } }
#js-onboarding-action-popover
